Source: torch7
Section: universe/science
Maintainer: Soumith Chintala <soumith@fb.com>
Priority: optional
Build-depends: debhelper(>=9), gfortran, dh-lua,
               liblapack-dev, libopenblas-dev,
               libqt4-core, libqt4-dev, libqt4-gui,
	       libreadline6, libreadline-dev, libncurses5, ncurses-dev,
               libjpeg8, libpng12-0, libjpeg-dev, libpng-dev,
               sox, libsox-dev, libsox-fmt-all,
               nodejs, npm, cmake, git, sudo, unzip, ipython,
               libzmq3-dev, libfftw3-dev,
               cuda-curand-dev-7-0, cuda-cublas-dev-7-0, cuda-cudart-dev-7-0, cuda-ld-conf-7-0,
               libcudnn4-dev,libhdf5-serial-dev,liblmdb-dev,
	       software-properties-common
Standards-Version: 3.9.5

Package: torch7-nv
Section: universe/tools
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends},
               liblapack-dev, libopenblas-dev,
               libqt4-core, libqt4-gui,
	       libreadline6, libncurses5, ncurses,
               libjpeg8, libpng12-0,
               sox, libsox-dev, libsox-fmt-all,
               nodejs, npm, ipython,
               libzmq3, libfftw3,
               cuda-curand-7-0, cuda-cublas-7-0, cuda-cudart-7-0, cuda-ld-conf-7-0,
               libcudnn4 (>=4.0.5), libhdf5-serial-dev,liblmdb-dev,
	       software-properties-common
Conflicts:libluajit-5.1-dev, luarocks, luajit, torch7, torch
Description: NVidia Torch Bundle (with CUDA). Made for DIGITS.
 Scientific computing framework with wide support for machine learning
 algorithms. It uses Lua as a scripting interface and provides GPU acceleration
 for underlying computations.
