Source: torch7
Section: universe/science
Maintainer: Soumith Chintala <soumith@fb.com>
Priority: optional
Build-depends: debhelper(>=9), gfortran,
               liblapack-dev, libopenblas-dev,
               libqt4-core, libqt4-dev, libqt4-gui,
	       libreadline6, libreadline-dev, libncurses5,
               libjpeg8, libpng12-0, libjpeg-dev, libpng-dev,
               sox, libsox-dev, libsox-fmt-all,
               nodejs, npm, cmake, git, sudo, unzip, ipython,
               libzmq3-dev,
               cuda-curand-dev-7-0, cuda-cublas-dev-7-0, cuda-cudart-dev-7-0, cuda-ld-conf-7-0,
               libcudnn4-dev,libhdf5-serial-dev,liblmdb-dev,
               luarocks, liblua5.1-0-dev, libluajit-5.1-dev, luajit,
	       software-properties-common
Standards-Version: 3.9.5

Package: torch7-nv
Section: universe/tools
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends},
               liblapack-dev, libopenblas-dev,
               libqt4-core, libqt4-gui,
	       libreadline6, libncurses5,
               libjpeg8, libpng12-0,
               libgraphicsmagick1-dev, graphicsmagick,
               sox, libsox-dev, libsox-fmt-all,
               nodejs, npm, ipython,
               libzmq3,
               cuda-curand-7-0, cuda-cublas-7-0, cuda-cudart-7-0, cuda-ld-conf-7-0,
               libcudnn4 (>=4.0.5), libhdf5-serial-dev,liblmdb-dev,
               lua5.1, luarocks, libluajit-5.1-2, luajit,
	       software-properties-common
Conflicts: torch7, torch, lua-cjson, lua-penlight, lua-filesystem
Description: NVidia Torch Bundle (with CUDA). Made for DIGITS.
 Scientific computing framework with wide support for machine learning
 algorithms. It uses Lua as a scripting interface and provides GPU acceleration
 for underlying computations.
